<div class="py-3">
    <button (click)="addProduct()">Add</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="products$ | async as products">
                <tr *ngFor="let product of products">
                    <th>{{product.id}}</th>
                    <th>{{product.name}}</th>
                    <th>{{product.price}}</th>
                    <th><button class="btn btn-danger" (click)="removeProduct(product.id)">Remove</button></th>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>